# 

init_project.sh

Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing

# These are from after you run configure and make
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
src/whereami
src/*.o
stamp-h1

doc/.dirstamp
doc/whereami.info
doc/stamp-vti
doc/version.texi
doc/*.info

*~
*.swp
*.swo

*.glade

build
debug

.DS_Store
/bin
